body {
  background: #f9f7fe;
  font-family: "Roboto", sans-serif;
}

a {
  color: #885df1;
}

.weather-app {
  background: white;
  max-inline-size: 600px;
  margin: 45px auto;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

header {
  border-block-end: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 14px;
  padding: 15px 20px;
  inline-size: 80%;
  border-radius: 6px;
}

.search-form-button {
  margin-inline-start: 5px;
  font-size: 14px;
  background-color: #885df1;
  color: white;
  border: none;
  padding: 15px 20px;
  line-height: 1;
  border-radius: 6px;
}

main {
  padding: 30px 0;
}

.current-temperature {
  font-size: 25px;
}

.current-weather {
  display: flex;
  justify-content: space-between;
}

.current-city {
  font-size: 48px;
  font-weight: 600;
  margin: 0;
}
.current-details {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.current-details strong {
  color: #f65282;
}

.current-temperature-icon {
  inline-size: 88px;
 
}

.current-temperature {
  font-size: 80px;
  line-height: 100px;

}

.current-temperature-unit {
  font-size: 25px;
  margin-block-start: 6px;
}

footer {
  border-block-start: 1px solid #f9f7fe;
  font-size: 14px;
  text-align: center;
  padding-block-start: 15px;

  color: rgba(39, 33, 66, 0.4);
}
